<h1><%= t('.admin_header')%></h1>

<p><%= link_to t('.new_badge'), new_admin_badge_path, class: 'btn btn-primary', style: 'color: white' %></p>

<%= render 'shared/errors', resource: @test %>

<table class="table">
	<thead>
		<tr>
			<th><%= t('.image') %></th>
			<th><%= t('.title') %></th>
			<th><%= t('.rule')%></th>
			<th colspan="2"><%= t('.actions')%></th>
		</tr>
	</thead>

	<%= render @badges %>
</table>
