<h1>The <%= @test_passage.test.title %> Test was Complited!</h1>

<% if @test_passage.success? %>
	<h2 style="color: green"><%= t('.success') %></h2>
<% else %>
	<h2 style="color: red"><%= t('.failure') %></h2>
<% end %>

	<h3><%= @test_passage.calculation %>%</h3>

<%= link_to t('actions.back'), tests_path %>



