<nav class="navbar navbar-light bg-light">
	<%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>

	<span class="navbar-text">
		<% if user_signed_in? %>
			 <% if current_user.admin? %>
				<%= link_to t('.admin'), admin_tests_path %> |
				<%= link_to t('.gists_table'), admin_gists_index_path, method: :get if current_user.admin? %> |
				<%= link_to t('.badges'), admin_badges_path %> |
			 	Welcome, <b> <%= current_user.first_name %><b> Guru! |
				<%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
			 <% else %>
			 	<%= link_to t('.feedback'), new_feedback_path %> |
			 	<%= link_to t('.badges'), badges_path %> |
			 	<%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
			 	<% end %>

		<% else %>
			<%= link_to t('.login'), new_user_session_path %> |
			<%= link_to t('.registration'), new_user_registration_path %>	
		<% end %>	
	</span>
</nav>