<div class="row justify-content-center mt-3">
	<div class="col col-md-4">

		<%= form_with model: @feedback, local: true do |form| %>
			<div class="form-group">
				<%= render 'shared/errors', resource: @feedback %>

				<p>
					<%= form.label :title %>
					<%= form.text_field :title, id: :feedback_title, class: 'form-control' %>
				</p>

				<p>
					<%= form.label :message %>
					<%= form.text_area :message, id: :feedback_message, class: 'form-control' %>
				</p>

				<p><%= form.submit t('.send'), class: 'btn btn-primary'%></p>
			</div>
		<% end %>
	</div>
</div>
