<%= form_with model: [:admin, @test], local: true do |form| %>
	<p>
		<%= form.label :title %><br>
		<%= form.text_field :title %>
	</p><br>

	<p>
		<%= form.label :level %><br>
		<%= form.text_field :level %>
	</p>

	<p>
		<%= form.label :category_id %><br>
		<%= form.collection_select :category_id, Category.all, :id, :title, prompt: true %>
	</p>

	<p>
		<%= form.label :time_period %><br>
		<%= form.number_field :time_period %>
	</p>

	<p>
		<%= form.submit class: "btn btn-primary"%>
	</p>
<% end %>
