<tr>
	<td class="align-middle">
		<%= content_tag :span, test.title, class: 'test-title', data: { test_id: test.id } %>
		<%= render 'form_inline', test: test == @test ? @test : test %>
	</td>
	<td class="align-middle"><%= test_level(test) %></td>
	<td class="align-middle"><%= test.category.title %></td>	
	<td class="align-middle"><%= test.questions.size %></td>
	<td class="align-middle"><%= link_to t('actions.show'), admin_test_path(test), class: 'btn btn-outline-primary' %></td>
	<td class="align-middle">
		<%= link_to t('actions.edit'), edit_admin_test_path(test),
																	 data: { test_id: test.id },
																	 class: 'form-inline-link btn btn-outline-primary' %>
	</td>
	<td class="align-middle"><%= link_to t('actions.delete'),
				admin_test_path(test), class: 'btn btn-outline-primary',
				method: :delete,
				data:  { confirm: t('actions.confirm') } %>
	</td>
</tr>