<tr>
	<td><%= link_to "#{test.title}", admin_test_path(test)  %></td>
	<td><%= test_level(test) %></td>
	<td><%= test.category.title %></td>	
	<td><%= test.questions.size %></td>
	<td><%= link_to t('actions.show'), admin_test_path(test), class: 'btn btn-outline-primary' %></td>
	<td><%= link_to t('actions.edit'), edit_admin_test_path(test), class: 'btn btn-outline-primary' %></td>
	<td><%= link_to t('actions.delete'),
				admin_test_path(test), class: 'btn btn-outline-primary',
				method: :delete,
				data:  { confirm: t('actions.confirm') } %>
	</td>
</tr>