<p>
	<strong>Title</strong>
	<%= @test.title %>
</p>

<p>
	<strong>Level</strong>
	<%= @test.level %>
</p>

<p>
	<strong>Category</strong>
	<%= @test.category.title %>
</p>

<%= link_to t('.new_question'), new_admin_test_question_path(@test) %>

<table>
	<tr>
		<th>Body</th>
		<th>Test</th>
		<th colspan="3">Actions</th>
	</tr>

	<%= render @questions, test: @test %>
</table>

<%= link_to t('actions.back'), admin_tests_path %>