<h1 class="display-4">Title: <%= @test.title %></h1>
<p class="lead">Level: <%= @test.level %></p>
<p class="lead">Category <%= @test.category.title %></p>

<p>
<%= link_to t('.new_question'), new_admin_test_question_path(@test),  class: 'btn btn-primary' %> </p>


<table class="table table-striped">
	<thead>
	<tr>
		<th>Body</th>
		<th>Test</th>
		<th colspan="3">Actions</th>
	</tr>
	</thead>
	<%= render @questions, test: @test %>
</table>

<%= link_to t('actions.edit'), edit_admin_test_path, class: 'btn btn-primary' %> 
<%= link_to t('actions.back'), admin_tests_path, class: 'btn btn-primary' %>