<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2><%= link_to 'TestGuru', root_path %></h2>
    <%= render 'shared/flash' %>

    <p class="nav user">
    <% if user_signed_in? %>
      Welcome, <%= current_user.first_name %> Guru! |
      <%= link_to t('.logout'), destroy_user_session_path, data: { method: :delete } %>
    <% else %>
      <%= link_to t('.registration'), new_user_registration_path %> |
      <%= link_to t('.login'), new_user_session_path %>
    <% end %>
    </p>

    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
