<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h2><%= link_to 'TestGuru', root_path %></h2>

    <%= flash_message(:alert) %>
    <%= flash_message(:notice) %>

    <% if logged_in? %>
      <p class="nav user">
      Welcome, <%= current_user.login %> Guru! |
      <%= link_to 'Logout', logout_path, data: { method: :delete } %>
    <% else %>
      <p class="nav user">
      <%= link_to 'Registration', signup_path %> |
      <%= link_to 'Login', login_path %>
    <% end %>
    </p>

    <hr>
    <%= yield %>
    <%= render 'shared/footer' %>
  </body>
</html>
